*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
      background: #2a606c;
}
#container{
    width:100%;
      font-family: arial;
}
#img{
    background-image: url("ss.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
}
#blur{
    background-color: rgba(0, 0, 0, 0.6);
    height: 500px;
    width:100%; 
}
header{
    font-weight: bold;
    width:80%;
    background: rgba(41, 95, 107, 0.1);
    color:#fff;
    margin:auto;
}
header ul{
    line-height: 50px;
    list-style-type: none;
    float:right;
    margin-right: 10px;
}
header li{
    line-height: 50px;
    float: left;
    font-size: 16px;
    color: #b4d0d3;
    margin-right: 10px;

}
header span{
    padding-left: 10px;
    line-height: 50px;
    font-size: 16px;
    color: #b4d0d3;
}
#txt{
    text-align: center;
    margin-top:140px;
     font-size: 14px;
     color: #b4d0d3;
    text-transform: uppercase;
    line-height: 35px;
}
#txt h2{
    font-size: 18px;
}
#read{
    border:1px solid #fff;
    width:150px;
    margin: auto;
    margin-top:10px;
    font-weight: bold;
    font-size: 20px;
    padding: 3px;

}
footer{
    color:#fff;
    letter-spacing: -1px;
    text-align: center;
    font-size: 12px;
}
footer h2{
    margin-top:10px;
}
#square{
    width:80%;
    background: green;
    margin:auto;
    height: 600px;
    position: relative;
    top:-50px;
}
#heading{
    position: relative;
    top:-30px;
}
.box{
    width:50%;
    height: 50%;
    float: left;
}
.box1{
    background: #e84c3d;
}
.box2{
    background: #fdbd1f;
}
.box3{
    background: #1bbc9b;
}
.box4{
    background: #9a57b4;
}